<div class="page">
    <mat-card appearance="outlined" class="card">
        <mat-card-content>
            <p>Couleur</p>
            <mat-form-field floatLabel="always" class="input">
                <mat-label>Nom français</mat-label>
                <input matInput class="example-right-align" />
            </mat-form-field>
            <mat-form-field floatLabel="always" class="input">
                <mat-label>Nom anglais</mat-label>
                <input matInput class="example-right-align" />
            </mat-form-field>
            <input class="color-input" [style.background]="color1" [(colorPicker)]="color1"
                (colorPickerChange)="onChangeColorHex8($event);" />
            <br>
            <button mat-flat-button style="margin-top: 10px;">Ajouter</button>
        </mat-card-content>
    </mat-card>
</div>