.example-container {
  background-color: transparent;
  height: 100vh;
}

mat-sidenav {
  background-color: transparent;
  width: 250px;
}

mat-sidenav-content {
  background-color: transparent;
}

mat-toolbar {
  background-color: transparent;
  color: white;
}

mat-nav-list a {
  background-color: transparent;
  text-decoration: none;
}

.content {
  background-color: transparent;
  padding: 20px;
}