<div class="page" style="width: 40%;">
  <mat-card appearance="outlined" class="card">
    <p>Nouvelle soumission</p>
    <mat-card-content>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nom / Projet</mat-label>
          <input matInput [(ngModel)]="quoteData.name" placeholder="Entrez le nom ou le projet" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="quoteData.description" placeholder="Entrez une description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date de livraison désirée</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="quoteData.deliveryDate"
            placeholder="Choisissez une date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="addQuote()">Soumettre</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>