.card {
  width: 100%;
  max-width: 600px;
  /* Adjust width */
  margin-left: 20px;
  /* Align to the left with a little margin */
  margin-top: 20px;
  /* Add space from the top of the page */
  padding: 15px;
}

div {
  padding: 5px;
}