<div class="container">
    <mat-card appearance="outlined" class="card">
        <mat-card-content class="scrollable">
            <p>Emballage</p>
            <mat-form-field floatLabel="always">
                <mat-label>Plastique - Coût par cm²</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0.00" />
                <span matTextSuffix>&nbsp;$&nbsp;</span>
              </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Enveloppe - Coût par unité</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0.00" />
                <span matTextSuffix>&nbsp;$&nbsp;</span>
              </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Étiquette - Coût par unité</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0.00" />
                <span matTextSuffix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <button mat-flat-button>Soumettre</button>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="card">
        <mat-card-content class="scrollable">
            <p>Équipement</p>
            <mat-form-field floatLabel="always">
                <mat-label>Engraveuse</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0.00" />
                <span matTextSuffix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <mat-form-field floatLabel="always">
                <mat-label>Imprimante à étiquettes</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0.00" />
                <span matTextSuffix>&nbsp;$&nbsp;</span>
              </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Entretien - Coût horaire</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0.00" />
                <span matTextSuffix>&nbsp;$&nbsp;</span>
              </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>kWh - Coût horaire</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0.00" />
                <span matTextSuffix>&nbsp;$&nbsp;</span>
              </mat-form-field>
              <button mat-flat-button>Soumettre</button>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="card">
        <mat-card-content class="scrollable">

        </mat-card-content>
    </mat-card>
</div>