<mat-card appearance="outlined" class="material-item">
    <mat-card-content>
      <h4>{{ material.name }}</h4>
      <div><strong>Marque:</strong> {{ material.brand }}</div>
      <div><strong>Couleur de fond:</strong> {{ material.backgroundColor }}</div>
      <div><strong>Couleur d'engravage:</strong> {{ material.engravingColor }}</div>
      <div><strong>Largeur:</strong> {{ material.width }}</div>
      <div><strong>Hauteur:</strong> {{ material.height }}</div>
      <div><strong>Épaisseur:</strong> {{ material.thickness }}</div>
      <div><strong>Prix:</strong> {{ material.price }}</div>
      <div><strong>Quantité:</strong> {{ material.stock }}</div>
      <div><strong>Adhésif:</strong> {{ material.adhesive ? 'Oui' : 'Non' }}</div>
    </mat-card-content>
  </mat-card>